/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    /*background: rgba(15, 23, 42, 0.8);*/
    background: linear-gradient(to bottom, rgba(20, 30, 50, 1), rgba(12, 20, 40, 0.7));
    backdrop-filter: blur(2px);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.6);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideDown 0.5s ease;
    user-select: none;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}


.brand {
    font-size: 1.2rem;
    font-weight: 800;
    background: linear-gradient(to right, #38bdf8, #818cf8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.status-dot {
    width: 10px;
    height: 10px;
    background: #22c55e;
    border-radius: 50%;
    box-shadow: 0 0 10px #22c55e;
}

@keyframes status-blink {
    from {
        opacity: 1
    }

    to {
        opacity: 0.5
    }
}

.status-dot.error {
    background: #c55e22;
    box-shadow: 0px 0px 10px #c55e22;
}
.status-dot.loading {
    background: #eab308;
    box-shadow: 0px 0px 10px #eab308;
    animation: status-blink 1s infinite alternate ease-in-out;
}

/* Bckgrounds */
body {
    margin: 0;
    padding: 0;
    color: #f1f5f9;
    font-family: 'Segoe UI', Roboto, sans-serif;
    padding-bottom: 90px;
    overflow-x: hidden;
    background: #0f2027;
}

/* Main animated gradient */
body::before {
    content: "";
    position: fixed;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #ffc0d0, #b9a8fa, #aaf5c8, #a0d6ff);
    animation: gradientMove 15s ease infinite;
    z-index: -2;
}

@keyframes gradientMove {
    0% {
        transform: translate(0%, 0%)
    }

    50% {
        transform: translate(-25%, -25%)
    }

    100% {
        transform: translate(0%, 0%)
    }
}

/* Floating blobs */
.blob {
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    /*box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    filter: blur(1px);*/
    animation: float 20s infinite alternate ease-in-out;
    z-index: -1;
}

.blob:nth-child(1) {
    top: 10%;
    left: 20%;
    background: #ffa0d0;
    animation-duration: 20s;
}

.blob:nth-child(2) {
    top: 50%;
    left: -60%;
    background: #b9a8fa;
    animation-duration: 12s;
}

.blob:nth-child(3) {
    top: 70%;
    left: -30%;
    background: #d0e6ff;
    animation-duration: 28s;
}

@keyframes float {
    0% {
        transform: translateY(0px) translateX(0px);
    }

    100% {
        transform: translateY(-100px) translateX(100px);
    }
}


/* Bottom Nav */
.bottom-nav {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    background: rgba(30, 41, 59, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    padding: 15px 5px;
    box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.6);
    z-index: 100;
    align-items: center;
    animation: slideUp 0.5s ease;
}

@keyframes slideUp {
    from {
        transform: translateY(200%) translateX(-50%);
    }

    to {
        transform: translateY(0) translateX(-50%);
    }
}

.nav-item {
    background: none;
    color: #94a3b8;
    padding: 8px 12px;
    border-radius: 15px;
}

.nav-item.active-nav {
    background: #38bdf8;
    color: #000;
    box-shadow: 0 0 15px 38bdf8;
}


.tab-content {
    display: none;
    padding: 15px;
    animation: fadeIn 0.4s ease;
}

.tab-content.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Page Card */
.card-view {
    background: rgba(11, 33, 22, 0.8);
    padding: 15px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
}

h3 {
    margin-top: 0;
    color: #38bdf8;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 1.1rem;
    display: flex;
    user-select: none;
    align-items: center;
    gap: 8px;
}