

.form-group { margin-bottom: 12px; }
.form-group label { display: block;
    padding-left: 10px; user-select: none;
    text-transform: uppercase;
    font-size: 0.8rem; color: #c1e1ff; 
    margin-bottom: 5px; }

input {
    width: 100%; padding: 10px 15px; box-sizing: border-box;
    background: #0f172a; border: 1px solid #334155; opacity: 0.7;
    border-radius: 18px; color: white; outline: none; transition: 0.5s;
}
input:focus { border-color: #38bdf8; 
    box-shadow: 0px 0px 8px 0px rgba(0,  0, 0, 0.5);
    opacity: 1;
}

.invalidInput {
    box-shadow: 0px 0px 8px 0px rgba(128, 0, 0, 0.8);
    border-color: #d43;
}

/* Mode Switch style*/
.mode-wrapper {
    position: relative; width: 120px; height: 20px;
    margin-left: auto; margin-right: 10px;
    align-items : center; display: flex;
}

/* Overlapping text */
.mode-text {
    position: absolute; width: 100%; text-align: right;
    font-size: 14px; color: #bdd;
    transition: opacity 0.4s ease, right 0.5s ease;
    opacity: 0; right: -100%;  user-select: none;
}

.mode-text-active { opacity: 1; right: 0; }

/* Switch */
.switch {
    position: relative; width: 120px; height: 30px;
    background: #0f172a; border-radius: 15px; opacity: 0.7;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer; overflow: hidden; align-items: center;
    -webkit-tap-highlight-color: transparent;
    
}

.slider {
    position: absolute; width: 50%; height: 100%;
    background: linear-gradient( to bottom, #695, #251); 
    padding: 0px; align-items: center;
    transition: 0.5s ease; border-radius: 15px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
}

/* Text inside switch */
.switch span {
    position: absolute; user-select: none; width: 60px;
    text-shadow: 0px 0px 3px 0px rgba (0, 0, 0, 0.5);
    display:flex; align-items: center; height: 100%;
    justify-content : center; font-size: 13px; z-index: 1;
    color: white;
}

/* Positions */
.ap .slider { left: 60px; }
.sta .slider { left: 0; }


#apFields, #staFields {
    overflow: hidden; max-height: 0; align-items: center;
    transition: max-height 0.6s ease, opacity 0.4s ease;
}

.grid-2 { 
    display: grid; grid-template-columns: 1fr 1fr; 
    gap: 0px 10px; 
}


/* upload card  */
.upload-card {
    background: #324;
    padding: 10px; 
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border-radius: 15px; opacity: 0.7;
    margin-bottom: 10px; 
}

.upload-card label {
    font-size: 0.8rem;
    margin-left: 10px;
    color: antiquewhite;
    text-transform: uppercase;
}
.upload-row { display: flex; gap: 10px; margin-top: 3px; }


input[type="file"] {
  background: #223; /* गहरा बैकग्राउंड */
  color: #ccc;
  border: 1px solid #567;
  border-radius: 17px;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  display: flex;-webkit-tap-highlight-color: transparent;
  align-items: center; /* वर्टिकल अलाइनमेंट के लिए */
}

/* इनपुट के अंदर वाला 'Choose File' बटन */
input[type="file"]::file-selector-button {
  background: #34384b;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 8px 15px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

/* बटन पर होवर इफेक्ट */
input[type="file"]::file-selector-button:hover {
  background: #454a66;
}

.partition-line {
    border: 0; height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    margin: 25px 0;
}